{
  "openapi": "3.1.0",
  "info": {
    "title": "Rewrite API",
    "description": "API 번호, 사용 화면, 호출 흐름과 오류 조건을 확인하는 Rewrite 백엔드 핵심 API 문서",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.rewrite-coverletters.site",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/cover-letters/{coverLetterId}/review-versions/{versionId}/final-answers": {
      "put": {
        "tags": ["ReviewVersions"],
        "summary": "API-019 · 최종 작성본 일괄 저장",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n최신 성공 첨삭 버전의 모든 문항 최종 작성본을 한 번에 저장한다.\n\n### 사용 화면\n첨삭 결과\n\n### 호출 시점\n사용자가 최신 성공 버전의 최종 작성본 편집을 저장할 때 호출한다.\n\n### 주요 동작\n모든 문항 포함·중복·소속·빈 값·길이를 검증하고 최신 성공 버전에만 전체 replace로 저장한다.\n\n### 성공 후 처리\n로컬 입력을 유지하고 서버 정규화 값을 다시 맞출 필요가 있으면 API-012 또는 API-018을 조회한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | 문항 누락·중복·불일치, 빈 답변 또는 길이 위반 | details[].field를 문항 입력이나 전체 answers 오류에 연결한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | 자기소개서·버전 없음, 비소유·삭제 | 입력값을 유지하고 대상 없음 안내 후 이전 화면으로 이동한다. |\n| 409 | `REVIEW_VERSION_NOT_LATEST` | 열린 버전이 최신 성공 버전이 아니거나 첨삭 미완료 버전임 | 자동 재전송하지 않고 API-012 또는 API-018로 최신 데이터를 조회한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "saveFinalAnswers",
        "parameters": [
          {
            "name": "coverLetterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveFinalAnswersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | 문항 누락·중복·불일치, 빈 답변 또는 길이 위반 | details[].field를 문항 입력이나 전체 answers 오류에 연결한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "문항 누락·중복·불일치, 빈 답변 또는 길이 위반",
                    "description": "details[].field를 문항 입력이나 전체 answers 오류에 연결한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": [
                          {
                            "reason": "최종 작성본은 최대 5000자까지 입력할 수 있습니다.",
                            "field": "answers[0].finalAnswer"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 자기소개서·버전 없음, 비소유·삭제 | 입력값을 유지하고 대상 없음 안내 후 이전 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "자기소개서·버전 없음, 비소유·삭제",
                    "description": "입력값을 유지하고 대상 없음 안내 후 이전 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `REVIEW_VERSION_NOT_LATEST` | 열린 버전이 최신 성공 버전이 아니거나 첨삭 미완료 버전임 | 자동 재전송하지 않고 API-012 또는 API-018로 최신 데이터를 조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "REVIEW_VERSION_NOT_LATEST": {
                    "summary": "열린 버전이 최신 성공 버전이 아니거나 첨삭 미완료 버전임",
                    "description": "자동 재전송하지 않고 API-012 또는 API-018로 최신 데이터를 조회한다.",
                    "value": {
                      "error": {
                        "code": "REVIEW_VERSION_NOT_LATEST",
                        "message": "최신 첨삭 버전의 최종 작성본만 수정할 수 있습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-019",
        "x-rewrite-purpose": "최신 성공 첨삭 버전의 모든 문항 최종 작성본을 한 번에 저장한다.",
        "x-rewrite-screens": ["첨삭 결과"],
        "x-rewrite-trigger": "사용자가 최신 성공 버전의 최종 작성본 편집을 저장할 때 호출한다.",
        "x-rewrite-behavior": "모든 문항 포함·중복·소속·빈 값·길이를 검증하고 최신 성공 버전에만 전체 replace로 저장한다.",
        "x-rewrite-success": "로컬 입력을 유지하고 서버 정규화 값을 다시 맞출 필요가 있으면 API-012 또는 API-018을 조회한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "문항 누락·중복·불일치, 빈 답변 또는 길이 위반",
            "action": "details[].field를 문항 입력이나 전체 answers 오류에 연결한다."
          },
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "자기소개서·버전 없음, 비소유·삭제",
            "action": "입력값을 유지하고 대상 없음 안내 후 이전 화면으로 이동한다."
          },
          {
            "status": 409,
            "code": "REVIEW_VERSION_NOT_LATEST",
            "condition": "열린 버전이 최신 성공 버전이 아니거나 첨삭 미완료 버전임",
            "action": "자동 재전송하지 않고 API-012 또는 API-018로 최신 데이터를 조회한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/cover-letters/{coverLetterId}/questions": {
      "put": {
        "tags": ["CoverLetters"],
        "summary": "API-011 · 질문과 답변 저장",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n자기소개서 등록 3단계의 미완성 질문과 답변을 임시저장한다.\n\n### 사용 화면\n자기소개서 등록\n\n### 호출 시점\n문항 입력 변경 후 자동 저장할 때 호출한다.\n\n### 주요 동작\n현재 문항 배열 전체를 순서대로 WRITING 스냅샷으로 교체하며 nullable 입력은 제출 전까지 허용한다.\n\n### 성공 후 처리\n임시저장 완료로 처리하고 제출 가능 여부는 프론트엔드가 현재 입력값으로 판단한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | null 문항 객체 또는 문항 필드 길이·범위 위반 | questions[index].field를 해당 문항 입력에 연결한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 자동저장을 중단하고 목록으로 이동한다. |\n| 409 | `COVER_LETTER_NOT_WRITING` | 자기소개서가 WRITING 상태가 아님 | 대기 중 자동저장을 폐기하고 API-012를 재조회한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "saveCoverLetterQuestions",
        "parameters": [
          {
            "name": "coverLetterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveQuestionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | null 문항 객체 또는 문항 필드 길이·범위 위반 | questions[index].field를 해당 문항 입력에 연결한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "null 문항 객체 또는 문항 필드 길이·범위 위반",
                    "description": "questions[index].field를 해당 문항 입력에 연결한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": [
                          {
                            "reason": "최대 답변 글자 수는 100자 이상 5000자 이하여야 합니다.",
                            "field": "questions[0].maxAnswerLength"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 자동저장을 중단하고 목록으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "자기소개서 없음·비소유·삭제",
                    "description": "자동저장을 중단하고 목록으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `COVER_LETTER_NOT_WRITING` | 자기소개서가 WRITING 상태가 아님 | 대기 중 자동저장을 폐기하고 API-012를 재조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COVER_LETTER_NOT_WRITING": {
                    "summary": "자기소개서가 WRITING 상태가 아님",
                    "description": "대기 중 자동저장을 폐기하고 API-012를 재조회한다.",
                    "value": {
                      "error": {
                        "code": "COVER_LETTER_NOT_WRITING",
                        "message": "제출된 자기소개서의 원본 정보는 수정할 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-011",
        "x-rewrite-purpose": "자기소개서 등록 3단계의 미완성 질문과 답변을 임시저장한다.",
        "x-rewrite-screens": ["자기소개서 등록"],
        "x-rewrite-trigger": "문항 입력 변경 후 자동 저장할 때 호출한다.",
        "x-rewrite-behavior": "현재 문항 배열 전체를 순서대로 WRITING 스냅샷으로 교체하며 nullable 입력은 제출 전까지 허용한다.",
        "x-rewrite-success": "임시저장 완료로 처리하고 제출 가능 여부는 프론트엔드가 현재 입력값으로 판단한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "null 문항 객체 또는 문항 필드 길이·범위 위반",
            "action": "questions[index].field를 해당 문항 입력에 연결한다."
          },
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "자기소개서 없음·비소유·삭제",
            "action": "자동저장을 중단하고 목록으로 이동한다."
          },
          {
            "status": 409,
            "code": "COVER_LETTER_NOT_WRITING",
            "condition": "자기소개서가 WRITING 상태가 아님",
            "action": "대기 중 자동저장을 폐기하고 API-012를 재조회한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/cover-letters/{coverLetterId}/preferences": {
      "put": {
        "tags": ["CoverLetters"],
        "summary": "API-010 · 채용 우대사항 저장",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n자기소개서 등록 2단계의 미완성 우대사항을 임시저장한다.\n\n### 사용 화면\n자기소개서 등록\n\n### 호출 시점\n우대사항 입력 변경 후 자동 저장할 때 호출한다.\n\n### 주요 동작\n현재 입력 전체를 WRITING 스냅샷으로 교체하고 누락·null·빈 문자열은 null로 정규화한다.\n\n### 성공 후 처리\n임시저장 완료로 처리하며 다음 단계 이동 여부는 프론트엔드가 판단한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | preferences 최대 3000자 위반 | 해당 입력에 details[].reason을 표시한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 자동저장을 중단하고 목록으로 이동한다. |\n| 409 | `COVER_LETTER_NOT_WRITING` | 자기소개서가 WRITING 상태가 아님 | 대기 중 자동저장을 폐기하고 API-012를 재조회한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "saveCoverLetterPreferences",
        "parameters": [
          {
            "name": "coverLetterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavePreferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | preferences 최대 3000자 위반 | 해당 입력에 details[].reason을 표시한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "preferences 최대 3000자 위반",
                    "description": "해당 입력에 details[].reason을 표시한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": [
                          {
                            "reason": "채용 우대사항은 최대 3000자까지 입력할 수 있습니다.",
                            "field": "preferences"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 자동저장을 중단하고 목록으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "자기소개서 없음·비소유·삭제",
                    "description": "자동저장을 중단하고 목록으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `COVER_LETTER_NOT_WRITING` | 자기소개서가 WRITING 상태가 아님 | 대기 중 자동저장을 폐기하고 API-012를 재조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COVER_LETTER_NOT_WRITING": {
                    "summary": "자기소개서가 WRITING 상태가 아님",
                    "description": "대기 중 자동저장을 폐기하고 API-012를 재조회한다.",
                    "value": {
                      "error": {
                        "code": "COVER_LETTER_NOT_WRITING",
                        "message": "제출된 자기소개서의 원본 정보는 수정할 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-010",
        "x-rewrite-purpose": "자기소개서 등록 2단계의 미완성 우대사항을 임시저장한다.",
        "x-rewrite-screens": ["자기소개서 등록"],
        "x-rewrite-trigger": "우대사항 입력 변경 후 자동 저장할 때 호출한다.",
        "x-rewrite-behavior": "현재 입력 전체를 WRITING 스냅샷으로 교체하고 누락·null·빈 문자열은 null로 정규화한다.",
        "x-rewrite-success": "임시저장 완료로 처리하며 다음 단계 이동 여부는 프론트엔드가 판단한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "preferences 최대 3000자 위반",
            "action": "해당 입력에 details[].reason을 표시한다."
          },
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "자기소개서 없음·비소유·삭제",
            "action": "자동저장을 중단하고 목록으로 이동한다."
          },
          {
            "status": 409,
            "code": "COVER_LETTER_NOT_WRITING",
            "condition": "자기소개서가 WRITING 상태가 아님",
            "action": "대기 중 자동저장을 폐기하고 API-012를 재조회한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/cover-letters/{coverLetterId}/basic-info": {
      "put": {
        "tags": ["CoverLetters"],
        "summary": "API-009 · 기본 정보 저장",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n자기소개서 등록 1단계의 미완성 기본 정보를 임시저장한다.\n\n### 사용 화면\n자기소개서 등록\n\n### 호출 시점\n기본 정보 입력 변경 후 자동 저장할 때 호출한다.\n\n### 주요 동작\n현재 폼 전체를 WRITING 스냅샷으로 교체 저장한다.\n누락·null·trim 후 빈 문자열은 null로 정규화하고, 값이 있는 필드만 길이와 URL 형식을 검증한다.\n\n\n### 성공 후 처리\n임시저장 완료로 처리하며 다음 단계 이동 여부는 프론트엔드가 현재 입력값으로 판단한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | 입력된 기본 정보의 최대 길이 또는 URL 형식 위반 | details[].field와 reason을 해당 입력에 표시한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 자동저장을 중단하고 목록으로 이동한다. |\n| 409 | `COVER_LETTER_NOT_WRITING` | 자기소개서가 WRITING 상태가 아님 | 대기 중 자동저장을 폐기하고 API-012를 재조회해 현재 상태 화면으로 전환한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "saveCoverLetterBasicInfo",
        "parameters": [
          {
            "name": "coverLetterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBasicInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | 입력된 기본 정보의 최대 길이 또는 URL 형식 위반 | details[].field와 reason을 해당 입력에 표시한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "입력된 기본 정보의 최대 길이 또는 URL 형식 위반",
                    "description": "details[].field와 reason을 해당 입력에 표시한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": [
                          {
                            "reason": "공고 링크 형식이 올바르지 않습니다.",
                            "field": "jobPostingUrl"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 자동저장을 중단하고 목록으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "자기소개서 없음·비소유·삭제",
                    "description": "자동저장을 중단하고 목록으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `COVER_LETTER_NOT_WRITING` | 자기소개서가 WRITING 상태가 아님 | 대기 중 자동저장을 폐기하고 API-012를 재조회해 현재 상태 화면으로 전환한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COVER_LETTER_NOT_WRITING": {
                    "summary": "자기소개서가 WRITING 상태가 아님",
                    "description": "대기 중 자동저장을 폐기하고 API-012를 재조회해 현재 상태 화면으로 전환한다.",
                    "value": {
                      "error": {
                        "code": "COVER_LETTER_NOT_WRITING",
                        "message": "제출된 자기소개서의 원본 정보는 수정할 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-009",
        "x-rewrite-purpose": "자기소개서 등록 1단계의 미완성 기본 정보를 임시저장한다.",
        "x-rewrite-screens": ["자기소개서 등록"],
        "x-rewrite-trigger": "기본 정보 입력 변경 후 자동 저장할 때 호출한다.",
        "x-rewrite-behavior": "현재 폼 전체를 WRITING 스냅샷으로 교체 저장한다.\n누락·null·trim 후 빈 문자열은 null로 정규화하고, 값이 있는 필드만 길이와 URL 형식을 검증한다.\n",
        "x-rewrite-success": "임시저장 완료로 처리하며 다음 단계 이동 여부는 프론트엔드가 현재 입력값으로 판단한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "입력된 기본 정보의 최대 길이 또는 URL 형식 위반",
            "action": "details[].field와 reason을 해당 입력에 표시한다."
          },
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "자기소개서 없음·비소유·삭제",
            "action": "자동저장을 중단하고 목록으로 이동한다."
          },
          {
            "status": 409,
            "code": "COVER_LETTER_NOT_WRITING",
            "condition": "자기소개서가 WRITING 상태가 아님",
            "action": "대기 중 자동저장을 폐기하고 API-012를 재조회해 현재 상태 화면으로 전환한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/interviews/{interviewSessionId}/questions": {
      "get": {
        "tags": ["Interviews"],
        "summary": "API-026 · 면접 질문 목록 조회",
        "description": "> 인증: 필요 · CSRF: 불필요\n\n### 사용 목적\n최신 면접 질문부터 cursor 기반으로 조회하고 질문별 대화 진입 정보를 반환한다.\n\n### 사용 화면\nAI 면접\n\n### 호출 시점\n면접 질문 화면 진입, 무한 스크롤 또는 추가 질문 생성 완료 후 호출한다.\n\n### 주요 동작\n최초 요청은 cursor를 생략하고 이후 서버가 반환한 nextCursor만 사용한다. size는 1~20이다.\n\n### 성공 후 처리\n응답 순서대로 질문을 추가하고 nextCursor=null이면 조회를 종료하며 threadId로 API-029를 연다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | cursor 형식 오류 또는 size가 1~20 범위를 벗어남 | 목록 추가를 중단하고 최초 요청 또는 서버가 반환한 nextCursor로 다시 조회한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 404 | `NOT_FOUND` | 면접 세션 없음·비소유 또는 삭제된 자기소개서의 세션 | 면접 화면을 종료하고 API-025를 재조회한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "listInterviewQuestions",
        "parameters": [
          {
            "name": "interviewSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewQuestionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | cursor 형식 오류 또는 size가 1~20 범위를 벗어남 | 목록 추가를 중단하고 최초 요청 또는 서버가 반환한 nextCursor로 다시 조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "cursor 형식 오류 또는 size가 1~20 범위를 벗어남",
                    "description": "목록 추가를 중단하고 최초 요청 또는 서버가 반환한 nextCursor로 다시 조회한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 면접 세션 없음·비소유 또는 삭제된 자기소개서의 세션 | 면접 화면을 종료하고 API-025를 재조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "면접 세션 없음·비소유 또는 삭제된 자기소개서의 세션",
                    "description": "면접 화면을 종료하고 API-025를 재조회한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-rewrite-api-id": "API-026",
        "x-rewrite-purpose": "최신 면접 질문부터 cursor 기반으로 조회하고 질문별 대화 진입 정보를 반환한다.",
        "x-rewrite-screens": ["AI 면접"],
        "x-rewrite-trigger": "면접 질문 화면 진입, 무한 스크롤 또는 추가 질문 생성 완료 후 호출한다.",
        "x-rewrite-behavior": "최초 요청은 cursor를 생략하고 이후 서버가 반환한 nextCursor만 사용한다. size는 1~20이다.",
        "x-rewrite-success": "응답 순서대로 질문을 추가하고 nextCursor=null이면 조회를 종료하며 threadId로 API-029를 연다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": false,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "cursor 형식 오류 또는 size가 1~20 범위를 벗어남",
            "action": "목록 추가를 중단하고 최초 요청 또는 서버가 반환한 nextCursor로 다시 조회한다."
          },
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "면접 세션 없음·비소유 또는 삭제된 자기소개서의 세션",
            "action": "면접 화면을 종료하고 API-025를 재조회한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      },
      "post": {
        "tags": ["Interviews"],
        "summary": "API-027 · 면접 질문 추가 생성",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n활성 면접 세션에 추가 질문 생성 Job을 시작한다.\n\n### 사용 화면\nAI 면접\n\n### 호출 시점\n사용자가 추가 질문 생성을 요청하거나 실패 후 수동 재시도할 때 호출한다.\n\n### 주요 동작\n동일 추가 질문 Job은 기존 jobId를 반환하고 세션 상태·성공 첨삭 버전·다른 AI Job 진행 여부를 검증한다.\n\n### 성공 후 처리\njobId로 API-016에 연결하고 COMPLETED이면 API-026을 다시 조회해 새 질문을 반영한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | 세션 없음·비소유 또는 삭제된 자기소개서의 세션 | API-025를 재조회한다. |\n| 409 | `CONFLICT` | 세션이 ACTIVE가 아니거나 성공한 첨삭 버전이 없음 | API-025를 재조회하고 가능한 동작만 활성화한다. |\n| 409 | `LLM_JOB_ALREADY_RUNNING` | 다른 종류의 AI Job이 진행 중 | 다른 AI 작업 진행을 안내하고 자동 재시도하지 않는다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "generateInterviewQuestions",
        "parameters": [
          {
            "name": "interviewSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AddInterviewQuestionResponse"
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 세션 없음·비소유 또는 삭제된 자기소개서의 세션 | API-025를 재조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "세션 없음·비소유 또는 삭제된 자기소개서의 세션",
                    "description": "API-025를 재조회한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CONFLICT` | 세션이 ACTIVE가 아니거나 성공한 첨삭 버전이 없음 | API-025를 재조회하고 가능한 동작만 활성화한다. |\n| `LLM_JOB_ALREADY_RUNNING` | 다른 종류의 AI Job이 진행 중 | 다른 AI 작업 진행을 안내하고 자동 재시도하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CONFLICT": {
                    "summary": "세션이 ACTIVE가 아니거나 성공한 첨삭 버전이 없음",
                    "description": "API-025를 재조회하고 가능한 동작만 활성화한다.",
                    "value": {
                      "error": {
                        "code": "CONFLICT",
                        "message": "요청이 현재 리소스 상태와 충돌합니다.",
                        "details": []
                      }
                    }
                  },
                  "LLM_JOB_ALREADY_RUNNING": {
                    "summary": "다른 종류의 AI Job이 진행 중",
                    "description": "다른 AI 작업 진행을 안내하고 자동 재시도하지 않는다.",
                    "value": {
                      "error": {
                        "code": "LLM_JOB_ALREADY_RUNNING",
                        "message": "이미 진행 중인 LLM 작업이 있습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-027",
        "x-rewrite-purpose": "활성 면접 세션에 추가 질문 생성 Job을 시작한다.",
        "x-rewrite-screens": ["AI 면접"],
        "x-rewrite-trigger": "사용자가 추가 질문 생성을 요청하거나 실패 후 수동 재시도할 때 호출한다.",
        "x-rewrite-behavior": "동일 추가 질문 Job은 기존 jobId를 반환하고 세션 상태·성공 첨삭 버전·다른 AI Job 진행 여부를 검증한다.",
        "x-rewrite-success": "jobId로 API-016에 연결하고 COMPLETED이면 API-026을 다시 조회해 새 질문을 반영한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "세션 없음·비소유 또는 삭제된 자기소개서의 세션",
            "action": "API-025를 재조회한다."
          },
          {
            "status": 409,
            "code": "CONFLICT",
            "condition": "세션이 ACTIVE가 아니거나 성공한 첨삭 버전이 없음",
            "action": "API-025를 재조회하고 가능한 동작만 활성화한다."
          },
          {
            "status": 409,
            "code": "LLM_JOB_ALREADY_RUNNING",
            "condition": "다른 종류의 AI Job이 진행 중",
            "action": "다른 AI 작업 진행을 안내하고 자동 재시도하지 않는다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/interview-threads/{threadId}/messages": {
      "get": {
        "tags": ["Interviews"],
        "summary": "API-029 · 대화 메시지 조회",
        "description": "> 인증: 필요 · CSRF: 불필요\n\n### 사용 목적\n질문별 대화 메시지와 피드백 SSE 복구용 조건부 jobId를 조회한다.\n\n### 사용 화면\nAI 면접\n\n### 호출 시점\n질문 대화 진입, 새로고침 또는 피드백 완료 후 확정 메시지를 조회할 때 호출한다.\n\n### 주요 동작\n메시지를 표시 순서로 반환하고 진행·실패 피드백 Job이 있으면 jobId를 함께 반환한다. 실패는 HTTP 오류가 아닌 복구 상태다.\n\n### 성공 후 처리\n메시지를 순서대로 표시하고 jobId가 있으면 API-016에 연결한다. 완료 후 다시 조회해 임시 delta를 확정 content·score로 교체한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 404 | `NOT_FOUND` | thread 없음·비소유 또는 삭제된 자기소개서에 연결됨 | 대화 화면을 종료하고 API-025를 재조회한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "listInterviewMessages",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewMessageListResponse"
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | thread 없음·비소유 또는 삭제된 자기소개서에 연결됨 | 대화 화면을 종료하고 API-025를 재조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "thread 없음·비소유 또는 삭제된 자기소개서에 연결됨",
                    "description": "대화 화면을 종료하고 API-025를 재조회한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-rewrite-api-id": "API-029",
        "x-rewrite-purpose": "질문별 대화 메시지와 피드백 SSE 복구용 조건부 jobId를 조회한다.",
        "x-rewrite-screens": ["AI 면접"],
        "x-rewrite-trigger": "질문 대화 진입, 새로고침 또는 피드백 완료 후 확정 메시지를 조회할 때 호출한다.",
        "x-rewrite-behavior": "메시지를 표시 순서로 반환하고 진행·실패 피드백 Job이 있으면 jobId를 함께 반환한다. 실패는 HTTP 오류가 아닌 복구 상태다.",
        "x-rewrite-success": "메시지를 순서대로 표시하고 jobId가 있으면 API-016에 연결한다. 완료 후 다시 조회해 임시 delta를 확정 content·score로 교체한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": false,
        "x-rewrite-errors": [
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "thread 없음·비소유 또는 삭제된 자기소개서에 연결됨",
            "action": "대화 화면을 종료하고 API-025를 재조회한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      },
      "post": {
        "tags": ["Interviews"],
        "summary": "API-023 · 사용자 답변 전송",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n사용자 답변을 저장하고 실시간 피드백 생성 Job을 시작한다.\n\n### 사용 화면\nAI 면접\n\n### 호출 시점\n사용자가 면접 답변 입력을 확정해 전송할 때 호출한다.\n\n### 주요 동작\n검증된 USER 메시지를 저장하고 userMessageId·jobId를 반환한다. 피드백 delta와 최종 상태는 API-016으로 전달된다.\n\n### 성공 후 처리\njobId로 API-016에 연결해 delta를 표시하고 COMPLETED이면 API-029를 다시 조회해 저장된 결과로 교체한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | content 누락, trim 후 빈 값 또는 2000자 초과 | 답변 입력란에 details[field=content].reason을 표시한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | thread 없음·비소유 또는 삭제된 자기소개서에 연결됨 | 대화 화면을 종료하고 API-025를 재조회한다. |\n| 409 | `LLM_JOB_ALREADY_RUNNING` | 같은 자기소개서에 다른 AI Job이 진행 중 | USER 메시지는 저장되지 않으며 기존 작업 완료 후 다시 전송하도록 안내한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "sendInterviewMessage",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInterviewMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SendInterviewMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | content 누락, trim 후 빈 값 또는 2000자 초과 | 답변 입력란에 details[field=content].reason을 표시한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "content 누락, trim 후 빈 값 또는 2000자 초과",
                    "description": "답변 입력란에 details[field=content].reason을 표시한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": [
                          {
                            "reason": "면접 답변은 최대 2000자까지 입력할 수 있습니다.",
                            "field": "content"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | thread 없음·비소유 또는 삭제된 자기소개서에 연결됨 | 대화 화면을 종료하고 API-025를 재조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "thread 없음·비소유 또는 삭제된 자기소개서에 연결됨",
                    "description": "대화 화면을 종료하고 API-025를 재조회한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `LLM_JOB_ALREADY_RUNNING` | 같은 자기소개서에 다른 AI Job이 진행 중 | USER 메시지는 저장되지 않으며 기존 작업 완료 후 다시 전송하도록 안내한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "LLM_JOB_ALREADY_RUNNING": {
                    "summary": "같은 자기소개서에 다른 AI Job이 진행 중",
                    "description": "USER 메시지는 저장되지 않으며 기존 작업 완료 후 다시 전송하도록 안내한다.",
                    "value": {
                      "error": {
                        "code": "LLM_JOB_ALREADY_RUNNING",
                        "message": "이미 진행 중인 LLM 작업이 있습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-023",
        "x-rewrite-purpose": "사용자 답변을 저장하고 실시간 피드백 생성 Job을 시작한다.",
        "x-rewrite-screens": ["AI 면접"],
        "x-rewrite-trigger": "사용자가 면접 답변 입력을 확정해 전송할 때 호출한다.",
        "x-rewrite-behavior": "검증된 USER 메시지를 저장하고 userMessageId·jobId를 반환한다. 피드백 delta와 최종 상태는 API-016으로 전달된다.",
        "x-rewrite-success": "jobId로 API-016에 연결해 delta를 표시하고 COMPLETED이면 API-029를 다시 조회해 저장된 결과로 교체한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "content 누락, trim 후 빈 값 또는 2000자 초과",
            "action": "답변 입력란에 details[field=content].reason을 표시한다."
          },
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "thread 없음·비소유 또는 삭제된 자기소개서에 연결됨",
            "action": "대화 화면을 종료하고 API-025를 재조회한다."
          },
          {
            "status": 409,
            "code": "LLM_JOB_ALREADY_RUNNING",
            "condition": "같은 자기소개서에 다른 AI Job이 진행 중",
            "action": "USER 메시지는 저장되지 않으며 기존 작업 완료 후 다시 전송하도록 안내한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/cover-letters": {
      "get": {
        "tags": ["CoverLetters"],
        "summary": "API-007 · 내 자기소개서 목록 조회",
        "description": "> 인증: 필요 · CSRF: 불필요\n\n### 사용 목적\n현재 사용자의 모든 상태 자기소개서를 페이지 단위로 조회한다.\n\n### 사용 화면\n자기소개서 목록\n\n### 호출 시점\n목록 화면 진입, 페이지 이동 또는 상태 복구가 필요할 때 호출한다.\n\n### 주요 동작\npage는 1부터 시작하고 size는 1~9다. 저장된 상태를 displayStatus로 반환하며 전체 페이지를 넘으면 빈 목록이다.\n\n### 성공 후 처리\ndisplayStatus에 따라 작성·진행·완료·실패 카드를 표시한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | page < 1 또는 size가 1~9 범위를 벗어남 | page=1, size=9로 정규화한 뒤 한 번 다시 조회한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "listCoverLetters",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 9
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CoverLetterListResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | page < 1 또는 size가 1~9 범위를 벗어남 | page=1, size=9로 정규화한 뒤 한 번 다시 조회한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "page < 1 또는 size가 1~9 범위를 벗어남",
                    "description": "page=1, size=9로 정규화한 뒤 한 번 다시 조회한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-rewrite-api-id": "API-007",
        "x-rewrite-purpose": "현재 사용자의 모든 상태 자기소개서를 페이지 단위로 조회한다.",
        "x-rewrite-screens": ["자기소개서 목록"],
        "x-rewrite-trigger": "목록 화면 진입, 페이지 이동 또는 상태 복구가 필요할 때 호출한다.",
        "x-rewrite-behavior": "page는 1부터 시작하고 size는 1~9다. 저장된 상태를 displayStatus로 반환하며 전체 페이지를 넘으면 빈 목록이다.",
        "x-rewrite-success": "displayStatus에 따라 작성·진행·완료·실패 카드를 표시한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": false,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "page < 1 또는 size가 1~9 범위를 벗어남",
            "action": "page=1, size=9로 정규화한 뒤 한 번 다시 조회한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      },
      "post": {
        "tags": ["CoverLetters"],
        "summary": "API-008 · 자기소개서 생성",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n새 WRITING 자기소개서 초안을 생성한다.\n\n### 사용 화면\n자기소개서 등록\n\n### 호출 시점\n사용자가 새 자기소개서 등록을 시작할 때 호출한다.\n\n### 주요 동작\n빈 초안을 현재 사용자 소유로 생성하며 입력 데이터는 후속 API-009~011로 저장한다.\n\n### 성공 후 처리\n반환된 coverLetterId로 자기소개서 등록 1단계 화면을 연다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "createCoverLetter",
        "responses": {
          "201": {
            "description": "반환된 coverLetterId로 자기소개서 등록 1단계 화면을 연다.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCoverLetterResponse"
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-008",
        "x-rewrite-purpose": "새 WRITING 자기소개서 초안을 생성한다.",
        "x-rewrite-screens": ["자기소개서 등록"],
        "x-rewrite-trigger": "사용자가 새 자기소개서 등록을 시작할 때 호출한다.",
        "x-rewrite-behavior": "빈 초안을 현재 사용자 소유로 생성하며 입력 데이터는 후속 API-009~011로 저장한다.",
        "x-rewrite-success": "반환된 coverLetterId로 자기소개서 등록 1단계 화면을 연다.",
        "x-rewrite-success-status": 201,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/cover-letters/{coverLetterId}/submit": {
      "post": {
        "tags": ["CoverLetters"],
        "summary": "API-014 · 자기소개서 제출 및 최초 AI 첨삭 요청",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n임시저장된 자기소개서의 필수값을 최종 검증하고 최초 AI 첨삭 Job을 시작한다.\n\n### 사용 화면\n자기소개서 등록, 첨삭 진행\n\n### 호출 시점\n등록 4단계에서 제출을 확정하거나 최초 첨삭 실패 화면에서 수동 재시도할 때 호출한다.\n\n### 주요 동작\nWRITING 또는 최초 첨삭 실패 상태의 저장 데이터를 최종 검증한다.\n새 Job과 첨삭 버전을 함께 만들거나 동일 최초 첨삭 Job이 진행 중이면 기존 jobId를 반환한다.\n200 OK 이후의 AI 처리 실패는 HTTP 오류가 아니라 API-016의 job.state.status=FAILED로 전달된다.\n\n\n### 성공 후 처리\ndisplayStatus=REVIEWING이면 jobId로 API-016 SSE 연결을 시작한다. REVIEWED이면 jobId=null이며 API-012를 조회해 기존 결과 화면으로 전환한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | 제출 필수값 누락 또는 길이·범위 위반 | details[].field를 등록 단계에 매핑하고 최초 오류가 있는 단계로 이동한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 대상 없음 안내 후 목록으로 이동한다. |\n| 409 | `CONFLICT` | 재첨삭 실패로 기존 성공 버전이 남아 있어 최초 제출 API를 사용할 수 없음 | API-012로 기존 결과를 조회하고 재첨삭은 API-024로 요청한다. |\n| 409 | `LLM_JOB_ALREADY_RUNNING` | 최초 첨삭 외 다른 AI Job이 진행 중 | 새 요청을 중단하고 제출 화면을 유지하며 자동 재시도하지 않는다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "submitCoverLetter",
        "parameters": [
          {
            "name": "coverLetterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitCoverLetterResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | 제출 필수값 누락 또는 길이·범위 위반 | details[].field를 등록 단계에 매핑하고 최초 오류가 있는 단계로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "제출 필수값 누락 또는 길이·범위 위반",
                    "description": "details[].field를 등록 단계에 매핑하고 최초 오류가 있는 단계로 이동한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": [
                          {
                            "reason": "채용 우대사항을 입력해야 합니다.",
                            "field": "preferences"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 대상 없음 안내 후 목록으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "자기소개서 없음·비소유·삭제",
                    "description": "대상 없음 안내 후 목록으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CONFLICT` | 재첨삭 실패로 기존 성공 버전이 남아 있어 최초 제출 API를 사용할 수 없음 | API-012로 기존 결과를 조회하고 재첨삭은 API-024로 요청한다. |\n| `LLM_JOB_ALREADY_RUNNING` | 최초 첨삭 외 다른 AI Job이 진행 중 | 새 요청을 중단하고 제출 화면을 유지하며 자동 재시도하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CONFLICT": {
                    "summary": "재첨삭 실패로 기존 성공 버전이 남아 있어 최초 제출 API를 사용할 수 없음",
                    "description": "API-012로 기존 결과를 조회하고 재첨삭은 API-024로 요청한다.",
                    "value": {
                      "error": {
                        "code": "CONFLICT",
                        "message": "요청이 현재 리소스 상태와 충돌합니다.",
                        "details": []
                      }
                    }
                  },
                  "LLM_JOB_ALREADY_RUNNING": {
                    "summary": "최초 첨삭 외 다른 AI Job이 진행 중",
                    "description": "새 요청을 중단하고 제출 화면을 유지하며 자동 재시도하지 않는다.",
                    "value": {
                      "error": {
                        "code": "LLM_JOB_ALREADY_RUNNING",
                        "message": "이미 진행 중인 LLM 작업이 있습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "csrfToken": []
          }
        ],
        "x-rewrite-api-id": "API-014",
        "x-rewrite-purpose": "임시저장된 자기소개서의 필수값을 최종 검증하고 최초 AI 첨삭 Job을 시작한다.",
        "x-rewrite-screens": ["자기소개서 등록", "첨삭 진행"],
        "x-rewrite-trigger": "등록 4단계에서 제출을 확정하거나 최초 첨삭 실패 화면에서 수동 재시도할 때 호출한다.",
        "x-rewrite-behavior": "WRITING 또는 최초 첨삭 실패 상태의 저장 데이터를 최종 검증한다.\n새 Job과 첨삭 버전을 함께 만들거나 동일 최초 첨삭 Job이 진행 중이면 기존 jobId를 반환한다.\n200 OK 이후의 AI 처리 실패는 HTTP 오류가 아니라 API-016의 job.state.status=FAILED로 전달된다.\n",
        "x-rewrite-success": "displayStatus=REVIEWING이면 jobId로 API-016 SSE 연결을 시작한다. REVIEWED이면 jobId=null이며 API-012를 조회해 기존 결과 화면으로 전환한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": true,
        "x-rewrite-errors": [
          {
            "status": 400,
            "code": "VALIDATION_ERROR",
            "condition": "제출 필수값 누락 또는 길이·범위 위반",
            "action": "details[].field를 등록 단계에 매핑하고 최초 오류가 있는 단계로 이동한다."
          },
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "자기소개서 없음·비소유·삭제",
            "action": "대상 없음 안내 후 목록으로 이동한다."
          },
          {
            "status": 409,
            "code": "CONFLICT",
            "condition": "재첨삭 실패로 기존 성공 버전이 남아 있어 최초 제출 API를 사용할 수 없음",
            "action": "API-012로 기존 결과를 조회하고 재첨삭은 API-024로 요청한다."
          },
          {
            "status": 409,
            "code": "LLM_JOB_ALREADY_RUNNING",
            "condition": "최초 첨삭 외 다른 AI Job이 진행 중",
            "action": "새 요청을 중단하고 제출 화면을 유지하며 자동 재시도하지 않는다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 403,
            "code": "CSRF_TOKEN_INVALID",
            "condition": "CSRF 토큰 누락·만료·불일치",
            "action": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      }
    },
    "/cover-letters/{coverLetterId}/review-versions": {
      "get": {
        "tags": ["ReviewVersions"],
        "summary": "API-017 · 첨삭 버전 목록 조회",
        "description": "> 인증: 필요 · CSRF: 불필요\n\n### 사용 목적\n자기소개서에서 시작한 첨삭 버전 목록을 과거부터 최신 순으로 조회한다.\n\n### 사용 화면\n첨삭 결과\n\n### 호출 시점\n첨삭 결과 화면에서 버전 선택 목록을 구성하거나 완료 후 목록을 갱신할 때 호출한다.\n\n### 주요 동작\n진행·성공·실패 버전을 반환한다. status는 첨삭 상태, isLatest는 최신 시도, isLatestReviewed는 최신 성공 결과를 나타낸다.\n\n### 성공 후 처리\n선택한 versionId로 API-018을 조회하고 완료된 isLatestReviewed 버전에만 최종 작성본 편집을 제공한다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 404 | `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 대상 없음 안내 후 자기소개서 목록으로 이동한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "listReviewVersions",
        "parameters": [
          {
            "name": "coverLetterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewVersionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 대상 없음 안내 후 자기소개서 목록으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "자기소개서 없음·비소유·삭제",
                    "description": "대상 없음 안내 후 자기소개서 목록으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERNAL_ERROR": {
                    "summary": "예상하지 못한 서버 오류",
                    "description": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다.",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "서버 내부 오류가 발생했습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-rewrite-api-id": "API-017",
        "x-rewrite-purpose": "자기소개서에서 시작한 첨삭 버전 목록을 과거부터 최신 순으로 조회한다.",
        "x-rewrite-screens": ["첨삭 결과"],
        "x-rewrite-trigger": "첨삭 결과 화면에서 버전 선택 목록을 구성하거나 완료 후 목록을 갱신할 때 호출한다.",
        "x-rewrite-behavior": "진행·성공·실패 버전을 반환한다. status는 첨삭 상태, isLatest는 최신 시도, isLatestReviewed는 최신 성공 결과를 나타낸다.",
        "x-rewrite-success": "선택한 versionId로 API-018을 조회하고 완료된 isLatestReviewed 버전에만 최종 작성본 편집을 제공한다.",
        "x-rewrite-success-status": 200,
        "x-rewrite-authenticated": true,
        "x-rewrite-csrf-protected": false,
        "x-rewrite-errors": [
          {
            "status": 404,
            "code": "NOT_FOUND",
            "condition": "자기소개서 없음·비소유·삭제",
            "action": "대상 없음 안내 후 자기소개서 목록으로 이동한다."
          },
          {
            "status": 401,
            "code": "UNAUTHORIZED",
            "condition": "access token이 없거나 만료됨",
            "action": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다."
          },
          {
            "status": 500,
            "code": "INTERNAL_ERROR",
            "condition": "예상하지 못한 서버 오류",
            "action": "공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다."
          }
        ]
      },
      "post": {
        "tags": ["ReviewVersions"],
        "summary": "API-024 · AI 첨삭 다시받기",
        "description": "> 인증: 필요 · CSRF: 필요\n\n### 사용 목적\n최신 성공 버전의 최종 작성본을 기준으로 재첨삭 Job을 시작한다.\n\n### 사용 화면\n첨삭 결과, 첨삭 진행\n\n### 호출 시점\n사용자가 재첨삭 요구사항을 확인하고 다시 첨삭받기를 요청할 때 호출한다.\n\n### 주요 동작\n동일 재첨삭 Job이 진행 중이면 기존 jobId를 반환한다. Job 시작 후 AI 실패는 API-016·015의 FAILED 상태로 전달된다.\n\n### 성공 후 처리\ndisplayStatus=REVIEWING을 반영하고 jobId로 API-016에 연결한다. 새 버전은 시작 시 생성되므로 API-017과 상세에서 진행 상태를 조회할 수 있다.\n\n### 오류\n| HTTP | 오류 코드 | 발생 조건 | 처리 |\n|---:|---|---|---|\n| 400 | `VALIDATION_ERROR` | requestInstruction이 1000자 초과 | 입력란에 details[].reason을 표시한다. |\n| 401 | `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n| 403 | `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n| 404 | `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 대상 없음 안내 후 목록으로 이동한다. |\n| 409 | `CONFLICT` | latestReviewedVersionId가 없어 최신 성공 버전이 없음 | API-012를 재조회해 현재 상태 화면으로 전환한다. |\n| 409 | `LLM_JOB_ALREADY_RUNNING` | 재첨삭 외 다른 AI Job이 진행 중 | 다른 AI 작업이 진행 중임을 안내하고 요청을 중단한다. |\n| 500 | `INTERNAL_ERROR` | 예상하지 못한 서버 오류 | 공통 일시 오류를 표시하며 상태 변경 요청은 자동 재전송하지 않는다. |\n\n",
        "operationId": "requestReReview",
        "parameters": [
          {
            "name": "coverLetterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestReReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RequestReReviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `VALIDATION_ERROR` | requestInstruction이 1000자 초과 | 입력란에 details[].reason을 표시한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_ERROR": {
                    "summary": "requestInstruction이 1000자 초과",
                    "description": "입력란에 details[].reason을 표시한다.",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "입력값이 올바르지 않습니다.",
                        "details": [
                          {
                            "reason": "재첨삭 요구사항은 최대 1000자까지 입력할 수 있습니다.",
                            "field": "requestInstruction"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `UNAUTHORIZED` | access token이 없거나 만료됨 | API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "summary": "access token이 없거나 만료됨",
                    "description": "API-004로 토큰을 한 번 갱신하고 원 요청을 한 번 재시도한다. 실패하면 로그인 화면으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "인증이 필요합니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CSRF_TOKEN_INVALID` | CSRF 토큰 누락·만료·불일치 | API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSRF_TOKEN_INVALID": {
                    "summary": "CSRF 토큰 누락·만료·불일치",
                    "description": "API-003으로 토큰을 재발급하고 원 요청을 한 번 재시도한다.",
                    "value": {
                      "error": {
                        "code": "CSRF_TOKEN_INVALID",
                        "message": "CSRF 토큰이 유효하지 않습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `NOT_FOUND` | 자기소개서 없음·비소유·삭제 | 대상 없음 안내 후 목록으로 이동한다. |\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "자기소개서 없음·비소유·삭제",
                    "description": "대상 없음 안내 후 목록으로 이동한다.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "리소스를 찾을 수 없습니다.",
                        "details": []
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "| 오류 코드 | 발생 조건 | 처리 |\n|---|---|---|\n| `CONFLICT` | latestReviewedVersionId가 없어 최신 성공 버전이 없음 | API-012를 재조회해 현재 상태 화면으로 전환한다. |\n| `LLM_JOB_ALREADY_RUNNING` | 재첨삭 외 다른 AI Job이 진행 중 | 다른 AI 작업이 진행 중임을 안내하고 요청을 중단한다. |\n",
            "content": {
              "application/json": {
                "schema": {
[...]
