@import 'tailwindcss';
@import './base/fonts.css';
@import './base/colors.css';
@import './base/z-index.css';
@import './base/scroll.css';

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
