@import 'tailwindcss';
@import './base/fonts.css';
@import './base/colors.css';

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button[data-disabled='true'] {
  cursor: not-allowed;
}

button[data-loading='true'] {
  cursor: wait;
}
